a {
	color: #00bfff;
	text-decoration: none;
}

h1 {
	margin-top: 30%;
	color: rgb(255, 255, 255);
	margin-right: 500px;
	margin-bottom: 450px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: auto;
	background-color: #091a22;
}


.cube {
	position: relative;
	width: 200px;
	height: 200px;
	transform-style: preserve-3d;
	animation: animate 10s linear infinite;
}

.side {
	position: absolute;
	width: 200px;
	height: 200px;
	display: grid;
	background-color: #01b4f9;
	border-radius: 10px;
	place-content: left;
	border: 3px solid #fff;
	box-shadow: 0 0 200px #01b4f9, 0 0 20px #01b4f9, 0 0 30px #01b4f9;
}

.front {
	transform: translateZ(100px);
}

.back {
	transform: rotateY(180deg) translateZ(100px);
}

.top {
	transform: rotateX(90deg) translateZ(100px);
}

.bottom {
	transform: rotateX(-90deg) translateZ(100px);
}

.left {
	transform: rotateY(-90deg) translateZ(100px);
}

.right {
	transform: rotateY(90deg) translateZ(100px);
}

@keyframes animate {
	0% {
		transform: rotateX(0deg) rotateY(0deg);
	}

	100% {
		transform: rotateX(360deg) rotateY(360deg);
	}
}