body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.header {
    background-color: #1f1f1f;
    padding: 10px 0;
    color: white;
    text-align: center;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-content {
    padding: 20px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    max-width: 900px;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
}

.product-image img {
    max-width: 300px;
    border-radius: 8px;
}

.product-info {
    flex: 1;
    margin-left: 20px;
}

.product-info h2 {
    margin-top: 0;
}

.footer {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 48px;
}

            
