* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(71, 72, 164);
  color: #333;
}

header {
  background-color: #007bff;
  color: white;
  padding: 7px 0;
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 10px;
  position: relative;
}

.header p {
  font-size: 1.1em;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.hamburger-checkbox {
  display: none;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;ärthrth
}

.sidebar {
  width: 25%;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 2px 2px 10px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  skibidi
}

.sidebar h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.sidebar ul li a:hover {
  color: #0056b3;
}

.articles {
  width: 70%;
  margin-left: 35%;
}

.article {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px;
  position: relative;
}

.article h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.article h3 {
  font-size: 1.4em;
  margin-top: 15px;
}

.article ul {
  margin-left: 20px;
}

.article p {
  font-size: 1.1em;
  margin-top: 10px;
}

.banner img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .hamburger {
    display: block;
  }

  .hamburger-checkbox:checked~.sidebar {
    transform: translateX(0);
  }

  .main-content {
    flex-direction: column;
  }

  .articles {
    width: 100%;
    margin-left: 0;
  }
}